# prebuilded static after install
public/images
public/placemarks.geojson

# dependencies
/node_modules

# vercel & next.js
.vercel
/.next/
/out/

# production
/build

# local env files
.env*.local

# typescript
next-env.d.ts
