html,
body {
    font-family: system-ui, sans-serif;
    overflow: hidden;
    overflow: clip;
    background: black;
}

.map {
    width: 100vw;
    height: 100vh;
    transform: translateZ(0);
}

.balloon {
    font-family: system-ui, sans-serif;
    width: 100%;
    min-width: 270px;
    max-width: 370px;
    padding: 12px 0 12px 4px;
}

.balloon__name {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 600;
}

.balloon__type {
    font-size: 13px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}

.balloon__address {
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 0;
}

.balloon__description {
    font-size: 13px;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 8px;
}

.balloon__date {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.4);
}

.filter {
    font-family: system-ui, sans-serif;
    position: fixed;
    top: 2vw;
    right: 2vw;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 12px;
    border-radius: 5px;
    background: white;
    color: #464646;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    max-width: 200px;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    font-size: .9em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 1em;
}

.checkbox:last-child {
    margin-bottom: 0;
}

.checkbox__input {
    margin: .1em .4em 0 0;
}

ymaps[class*="ground-pane"] {
    filter: invert(100%) sepia(50%) saturate(200%) hue-rotate(180deg) brightness(110%) contrast(90%);
}

ymaps[class*="balloon__layout"] {
    border-radius: 4px !important;
}
