.popup  {
    overflow: auto;
    font-family: 'Iset Sans', sans-serif;
    height: 100%;
}

.popup__content {
    padding: 12px;
}

.popup__coords {
    opacity: .5;
    font-size: 10px;
    line-height: 1;
    margin-top: 4px;
}

.popup__title {
    margin: 8px 40px 0 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.1;
}

.popup__address {
    margin-top: 10px;
    font-style: normal;
    font-size: 15px;
}

.popup__info {
    margin: 12px;
}

.popup__images {
    margin-top: 24px;
}

.popup__image {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: gray;
}