.marker {
    object-fit: cover;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    width: 40px !important;
    height: 40px !important;
    cursor: pointer;
    transition: all .3s;
}

.marker:not(:hover) {
    background-color: black !important;
}
