.marker {
    object-fit: cover;
    border: 3px solid currentColor;
    border-radius: 100%;
    width: 40px !important; /* leaflet uses !important */
    height: 40px !important; /* leaflet uses !important */
    cursor: pointer;
    transition: all .3s;
    background-color: black;
    position: relative;
}